
/* Title */
.section-title {
    text-align: center;
    margin-bottom: 4rem;
}
.section-title h4 {
    font-size: 2rem;
    text-size-adjust: bold;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.section-title div {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: #af9a7d;
}
/* end of Title */

/* services */
.services {
    padding: 5rem 0;
}
.services {
    background: #cfcfcf;
    width: 100%;
    text-align: center;
}
.services-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
}
.service span {
    display: inline-block;
    color: #af9a7d;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.services h6 {
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
}
.services p {
    width: 80%;
    margin: 0 auto;
}
@media screen and (min-width: 992px) {
    .services-center {
        width: 95vw;
        max-width: 1170px;
    }
}

@media screen and (min-width: 1200px) {
    .services p {
        width: 100%;
    }
}
/*end of services */