
.landing {
    /* background-color: black !important; */
    background-image: url("../assets/Hotel_Landing.jpeg");
    background-size: 100% 100%;
    height: 100vh;
    padding-top: 130px;
  }
  
  .landingBtn {
    background-color: white !important;
    color: black !important;
    margin-top: 20px !important;
  }
  